<mat-toolbar color="primary">
  <span><img src="/assets/image/logob.png" height="60" width="60"></span>
  <span class="flex-spacer"></span>
  <a routerLink="/home" mat-button>Home</a>
  <a mat-button routerLink="/features" >Features</a>
  <a mat-button routerLink="/services">Services</a>
  <a mat-button >LogIn</a>
  <a mat-button routerLink="/contact">Contact</a>
</mat-toolbar>

<!-- 
<header id="header_outer">
  <div class="container">
    <div class="header_section">
      <div class="logo"><a href="javascript:void(0)"><img src="/assets/img/logob.png" alt=""></a></div>
      <nav class="nav" id="nav">
        <ul class="toggle">
          <li><a href="#top_content">Home</a></li>
          <li><a href="#service">Services</a></li> 
          <li><a href="#work_outer">Features</a></li>  
          <li><a href="#contact">Contact</a></li>
          <li><a href="http://email.mymailing.website">LogIn</a></li>
        </ul>
        <ul class="">
          <li><a href="#top_content">Home</a></li>
          <li><a href="#service">Services</a></li> 
		  <li><a href="#work_outer">Features</a></li>  
          <li><a href="#contact">Contact</a></li>
          <li><a href="http://email.mymailing.website">LogIn</a></li>
          
        </ul>
      </nav>
      <a class="res-nav_click animated wobble wow"  href="javascript:void(0)"><i class="fa-bars"></i></a> </div>
  </div>
</header>
--> 