.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%;
    margin: 30px 0 30px 0 ;
}

.background-primary{
	font-family: 'Dosis';
	display:block;
	font-size:16px;
	color:#ffffff;
	background:#49b5e7;
	width:138px;
	height:46px;
	line-height:46px;
	border-radius:3px;
	text-align:center;
	font-family:''Dosis'';
	text-transform:uppercase;
	font-weight: 600;
	transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
	-webkit-transition:all 0.2s ease-in-out;
	}
.background-primary:hover{
	background:#222222;
	}
