<div fxFlex fxFlexOffset="20px" class="form-size">
  <h3>Send us your query</h3> 

  <form novalidate [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <p class="half-width">
      <mat-form-field class="half-width">
        <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
      </mat-form-field>
    </p>
    <p> 
      <mat-form-field class="half-width">
        <input matInput formControlName="email" placeholder="Email" type="email" required>
      </mat-form-field>
    </p>
     <p>
      <mat-form-field class="half-width">
        <textarea matInput formControlName="message" placeholder="Your Query" type="text" rows="10" required></textarea>
      </mat-form-field>
    </p>
     
     
    <button type="submit" mat-button class="background-primary">Submit</button>
  </form>
</div>