<div class="container">
  <section class="main-section contact" id="contact">
    <div class="contact_section">
      <h2>Contact Us</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="contact_block">
            <div class="contact_block_icon rollIn animated wow"><span><i class="fa-home"></i></span></div>
             </div>
        </div>
        <div class="col-lg-4">
          <div class="contact_block">
            <div class="contact_block_icon icon2 rollIn animated wow"><span><i class="fa-phone"></i></span></div>
             </div>
        </div>
        <div class="col-lg-4">
          <div class="contact_block">
            <div class="contact_block_icon icon3 rollIn animated wow"><span><a href="mailto:support@mymailingwebsite.freshdesk.com"><i class="fa-pencil"></i></a> </span></div>
            <span> <a href="mailto:support@mymailingwebsite.freshdesk.com">support@mymailingwebsite.freshdesk.com</a> </span> </div>  
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 wow fadeInLeft">
        <div class="contact-info-box address clearfix">
          <h3>Don’t be shy. Say hello!</h3>
          <p>Contact us to have your account set up.</p>  
    <p>Email us now  <a href="mailto:support@mymailingwebsite.freshdesk.com">support@mymailingwebsite.freshdesk.com</a></p>  
        </div>
         
      </div>
      <!-- <div class="col-lg-6 wow fadeInUp delay-06s">
        <div class="form" action="submit.php">
          <input class="input-text animated wow flipInY delay-02s" type="text" name="name" value="Your Name *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
          <input class="input-text animated wow flipInY delay-04s" type="text" name="email" value="Your E-mail *" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;">
          <textarea class="input-text text-area animated wow flipInY delay-06s" cols="0" rows="0" onFocus="if(this.value==this.defaultValue)this.value='';" onBlur="if(this.value=='')this.value=this.defaultValue;" name="message">Your Message *</textarea>
          <input class="input-btn animated wow flipInY delay-08s" id = "sendemail" type="submit" value="send message">
        </div> -->
      </div>
  </section>
</div>