 
  <div class="top_cont_inner">
    <div class="container">
      <div class="top_content">
        <div class="row">
          <div class="col-lg-5 col-sm-7">
            <div class="top_left_cont flipInY wow animated">
              <h3>Email Made Simple</h3>
              <h2>Reach to many in one go. Only $1 per 1000 email</h2>
              <p> Get your message in front of more people. Track your success in real time. </p>
              <a href="#service" class="learn_more2">Learn more</a> </div>
          </div>
          <div class="col-lg-7 col-sm-5"> </div>
        </div>
      </div>
    </div>
  </div>  

 

