<!--Service-->
<section  id="service">
  <div class="container">
    <h2>Services</h2>
    <div class="service_area">
      <div class="row">
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon delay-03s animated wow  zoomIn"> <span><i class="fa-flash"></i></span> </div>
            <h3 class="animated fadeInUp wow">Bulk Email</h3>
            <p class="animated fadeInDown wow">We charge only $1 for 1000 emails.<br> Send authenticated bulk emails at an insanely low price without sacrificing deliverability.  </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon2  delay-03s animated wow zoomIn"> <span><i class="fa-comments"></i></span> </div>
            <h3 class="animated fadeInUp wow">FRIENDLY SUPPORT</h3>
            <p class="animated fadeInDown wow">We take care of everything. Just send your email tempelate and customer list. Our team of experts is here 7 days-a-week to help you grow your business.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service_block">
            <div class="service_icon icon3  delay-03s animated wow zoomIn"> <span><i class="fa-shield"></i></span> </div>
            <h3 class="animated fadeInUp wow">Full Campaign Management</h3>
            <p class="animated fadeInDown wow">No technical knowledge required. Schedule and edit campaign yourself or leave all to us.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Service-->